.warper{
    display: inline-flex;
    font-size: 20px ;
    }

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 50px;
}
.button{
    margin-left: 20px;
    margin-right: 20px;
}
.title{
    font-size: 80px;
}